.dashboard-container {
    margin-top: 76px;

    @media (max-width: 1024px) {
        flex-direction: column;
        margin-top: 0;
    }
}

.dashboard-aside-left {
    @media (max-width: 768px) {
        flex-direction: column;
    }
}